/*
 * Moodleテーマカスタマイズ
 */

/* 要素の非表示 */
	/* .simple-view h1, (4) タイトルを非表示にする */
	.simple-view .brand,
	.simple-view #page-navbar,
	#page-enrol-index .simple-view .content,        /* (6) コース情報 */
	#page-enrol-index .simple-view .coursebox,      /* (6) コース情報 */
	/* #page-course-view-weeks .simple-view .content,  /* (6) コース情報 ウィークリーフォーマット*/
	/* #page-course-view-topics .simple-view .content, /* (6) コース情報 トピックフォーマット*/
	/* #page-course-view-social .simple-view .content, /* (6) コース情報 ソーシャルフォーマット*/
	/* .simple-view #region-main h2,                   (6) コース情報 単一活動フォーマット  */
	/* .simple-view #region-main #intro,               (6) コース情報 単一活動フォーマット  */
	#page-login-confirm .simple-view .singlebutton, /* アカウントを確定ページのコースボタンの非表示 */
	#page-grade-report-user-index .simple-view #choosepluginreport, /* (8) 表示レポートのセレクト項目*/
	/* .simple-view .course-content > ul > li,  (7) コースセクションを非表示にする , ただし最上段にあるセクションは表示 */
	.simple-view #block-region-side-pre,
	.simple-view #block-region-side-post,
	.simple-view #page-footer,
	.simple-view #inst4, /* for admin ? */
	.simple-view #inst5  /* for admin ? */
	{
		display : none !important;
	}

	/*  (7) コースセクションを非表示にする , ただし最上段にあるセクションは表示
		.simple-view .course-content > ul > li#section-0,
		.simple-view .course-content > ul > li#section-0 .content
		{
			display : block !important;
		}
	*/

/* 要素の横幅を画面いっぱいに広げる */
	.simple-view #page-content,
	.simple-view #region-bs-main-and-pre,
	.simple-view #region-post-box,
	.simple-view #region-main-wrap,
	.simple-view #region-main {
	    margin-left   : 0 !important;
	    margin-right  : 0 !important;
	    margin-top    : 0 !important;
	    margin-bottom : 0 !important;
	    min-width     : inherit !important;
	    width         : auto !important;
	    float         : none !important;
	    position      : static !important;
	}

/* 左側のナビ、テスト中は表示する */
	#page-mod-quiz-attempt .simple-view #block-region-side-pre, /* テスト中 */
	#page-mod-quiz-review  .simple-view #block-region-side-pre /* レビュー  ?? */
	{
	    display       : block !important;
	    margin        : 0 !important;
	    min-width     : inherit !important;
	    width         : auto !important;
	    float         : none !important;
	    position      : static !important;
	}

	#back-to-ibooks {
		float       : left;
		padding     : 5px 0;
		color       : #777;
		line-height : 20px;
	}

	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
	    margin-left  : 0 !important;
	    margin-right : 0 !important;
	}

/* 特定のページでh系非表示 */
	#page-my-index .simple-view h1, /* マイページ */
	#page-badges-mybadges .simple-view h1, /* バッジページ */
	#page-badges-mybadges .simple-view h2, /* バッジページ */
	#page-mod-quiz-view .simple-view h1, /* クイズページ */
	#page-mod-quiz-attempt .simple-view h1, /* クイズページ */
	#page-mod-quiz-summary .simple-view h1, /* クイズページ */
	#page-mod-quiz-review .simple-view h1, /* クイズページ */
	#page-grade-report-user-index .simple-view h2, /* 評定ページ */
	#page-mod-forum-view .simple-view h1, /* フォーラムページ */
	#page-mod-forum-post .simple-view h1, /* フォーラムページ */
	#page-mod-forum-discuss .simple-view h1 /* フォーラムページ */
	{
		display:none;
	}

/* クイズページ  iframe内のクイズの時に言語切り替え以外のナビバー情報を隠す */
	#page-mod-quiz-view .simple-view .logininfo,
	#page-mod-quiz-attempt .simple-view .logininfo,
	#page-mod-quiz-summary .simple-view .logininfo,
	#page-mod-quiz-review .simple-view .logininfo,
/* 	#page-mod-quiz-view .simple-view #go-to-badge,*/
	#page-mod-quiz-attempt .simple-view #go-to-badge,
	#page-mod-quiz-summary .simple-view #go-to-badge
/*	#page-mod-quiz-review .simple-view #go-to-badge*/
	{
		display:none;
	}

/* レッスンページ  iframe内のクイズの時に言語切り替え以外のナビバー情報を隠す */
	#page-mod-lesson-view .simple-view .logininfo,
	#page-mod-lesson-view .simple-view #go-to-badge
	{
		display:none;
	}

/* マイページのコース一覧の幅調整 */
	#page-my-index .simple-view h2
	{
		font-size: 100%;
		font-weight: 900;
		font-style: normal;
		line-height: 20px;
	}
	#page-my-index .simple-view .coursebox
	{
		padding:0px 0px 0px 10px !important;
		margin-bottom: 10px;
	}

/* フォームページに購読ボックスだけだす */
	#page-mod-forum-view .simple-view #block-region-side-pre,
	#page-mod-forum-view .simple-view #inst5
	{
		display:block !important;
	}
	#page-mod-forum-view .simple-view #inst133,
	#page-mod-forum-view .simple-view #inst5 .header,
	#page-mod-forum-view .simple-view #settingsnav .type_course,
	#page-mod-forum-view .simple-view #settingsnav .type_unknown
	{
		display:none !important;
	}

/* フォームページのパンくずを表示 */
	#page-mod-forum-view .simple-view #page-navbar .clearfix,
	#page-mod-forum-view .simple-view #page-header .clearfix,
	#page-mod-forum-post .simple-view #page-navbar .clearfix,
	#page-mod-forum-post .simple-view #page-header .clearfix,
	#page-mod-forum-discuss .simple-view #page-navbar .clearfix,
	#page-mod-forum-discuss .simple-view #page-header .clearfix
	{
		display:block !important;
	}

/* フォームページのパンくずでフォーラムに関係ない箇所を消す*/
	#page-mod-forum-view .simple-view .breadcrumb li:nth-last-child(n+2),
	#page-mod-forum-discuss .simple-view .breadcrumb li:nth-last-child(n+3),
	#page-mod-forum-post .simple-view .breadcrumb li:nth-last-child(n+4)
	{
		display:none;
	}

/* フォームページの検索バーを消す*/
	#page-mod-forum-view .simple-view .forumsearch,
	#page-mod-forum-post .simple-view .forumsearch,
	#page-mod-forum-discuss .simple-view .forumsearch
	{
		display:none;
	}

/* ナビバーの追加 */
	/* mybadges */
	#go-to-badge
	 {
		float       : left;
		padding     : 5px;
		line-height : 30px;
	}

/* 以下は clean テーマにもともと設定されていた 	css */

/* Custom CSS
-------------------------*/
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
